#A1{
  background-color:black;
  font-size: x-large;
   
  
}
#A2{
    background-color: black;
    font-style: inherit;
    font-size: x-large;
}
#A3
{
    image-resolution: 50%;
    font-style: oblique;

}